.navbar1 {
    background-color: #000 !important;
}

.toggle1 {
   color: white !important;
}

.list li a {
    color: white;
    margin-left: 20px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    
}
.top1 {
    display: flex;
    align-items: center;

}

.list {
    size: 20px;
}

.top {
    margin-top: -7px;
    margin-left: 100px;
    margin-right: 300px;
}

.ico {
    margin-left: -20px;
    
}

.size1 {
    font-size: 22px;
    margin-left: 17px;
}

.min {
    margin-left: 100px !important;
    background-color: #fff;
    color: #000 !important;
    border: 2px solid white ;
    border-radius: 20px;
    width: 80px;
    font-size: 15px !important;
    font-weight: normal !important;
    
}
.nav-link:hover {
    color: #fff;
    cursor: pointer;
}

.middle {
    background-color: #000;
}

.project {
    display: flex;
}
.pro1 {
    margin-left: 70px;
}
.pro1 h1 {
    color: #fff;
    width: 50%;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center ;
    margin: 90px 90px 60px 90px;
    margin-left: 140px;
}

.pro1 p {
    text-align: center;
    color: #fff;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    width: 70%;
    line-height: 2em;
    margin-left: 75px;
    
}

.im {
    margin-top: 60px;
    margin-right: 60px;
}

.im1 {
    margin-left: 90px;
    margin-bottom: 30px;
}
.cla{
    margin-top: 60px;
}
.cla h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center ;
    margin-bottom: 40px;
  
}

.cla p {
    text-align: center;
    color: #fff;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    width: 70%;
    line-height: 1.7em;
    margin-left: 95px;
}